.e-commerce{
  background: url('Images/iStock-1371318211-1120x455-c-default.jpg') 
  no-repeat center center fixed;
  background-size: cover;
  height: 70vh;
}

.e-commerce img {
  width: 0px;
  height: auto;
}

h2 {
  background-color: #E6E6FA;
  width: 700px;
}

.form-container {
  background-color: #6488EA;
  color: #fff;
  padding: 7px;
  width: 725px;
  height: 910px;
  font-size: 22px;
  margin-left: 380px;
  margin-top: -20px;
  justify-content: center;
  text-align: center;
}

p {
  text-align: center;
  font-size: 19px;
}

textarea::placeholder {
  font-size: 15px;
}

button {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  justify-content: space-between;
}

button:hover {
  color: #003459;
}

h3 {
  font-size: 12px;
  font-weight: normal;
}

@media (max-width: 600px) {
  .split {
    flex: 1 100%;
    flex-basis: 100%; /* for every item */
    flex-grow: inherit;
    margin-left: 50px;
  }

  .form-container {
    margin-left: 50px;
    width: 500px;
  }

  textarea {
    width: 470px;
  }

  h2 {
    width: 475px;
    justify-content: center;
    position: relative;
    left: -330px;
    height: 5px;
  }

  .e-commerce {
    width: 700px;
  }
  
}


