.mainbox {
    position: absolute;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.mainbox::after {
    position: absolute;
    content: "";
    width: 180%;
    height: 100%;
    background: url(Images/6731915.png) no-repeat;
    background-size: 5%;
    left: 100%;
    top: 48%;
    transform: rotate(deg);
}

.box {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid pink;
    overflow: hidden;
    transition: all ease-in-out 5s;
    transform: rotate(90deg);
}

span {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
}

.span1 {
    clip-path: polygon(0 17%, 0 50%, 50% 50%);
    background-color: green;
}

.span2 {
    clip-path: polygon(0 17%, 30% 0, 50% 50%);
    background-color: red;
}

.span3 {
    clip-path: polygon(30% 0, 71% 0, 50% 50%);
    background-color: blue;
}

.span4 {
    clip-path: polygon(71% 0, 100% 18%, 50% 50%);
    background-color: salmon;
}

.span5 {
   clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
   background-color: #ff8300; 
}

.box2 .span3 {
    background-color: #00ff04;
}

.box2 {
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}

.box2 .span1 {
    background: #333;
}

.font {
    color: #fff;
    font-size: 30px;
}

.box1 .span1 h5{
    font-size: 15px;
    position: absolute;
    top: 36%;
    right: 65%;
    transform: rotate(200deg);
    text-align: center;
}

.box1 .span2 h5{
    font-size: 15px;
    position: absolute;
    top: 24%;
    right: 55%;
    transform: rotate(-127deg);
    text-align: center;
}

.box1 .span3 h5{
    font-size: 15px;
    position: absolute;
    top: 20%;
    right: 39%;
    transform: rotate(-90deg);
    text-align: center;
}

.box1 .span4 h5{
    font-size: 15px;
    position: absolute;
    top: 29%;
    right: 32%;
    transform: rotate(-52deg);
    text-align: center;
}

.box1 .span5 h5{
    font-size: 15px;
    position: absolute;
    top: 37%;
    right: 13%;
    transform: rotate(-15deg);
    text-align: center;
}

.box2 .span1 h5{
    font-size: 15px;
    position: absolute;
    top: 36%;
    right: 63%;
    transform: rotate(195deg);
    text-align: center;
}

.box2 .span2 h5{
    font-size: 15px;
    position: absolute;
    top: 25%;
    right: 54%;
    transform: rotate(-130deg);
    text-align: center;
}

.box2 .span3 h5{
    font-size: 15px;
    position: absolute;
    top: 18%;
    right: 39%;
    transform: rotate(270deg);
    text-align: center;
}

.box2 .span4 h5{
    font-size: 15px;
    position: absolute;
    top: 22%;
    right: 20%;
    transform: rotate(310deg);
    text-align: center;
}

.box2 .span5 h5{
    font-size: 15px;
    position: absolute;
    top: 35%;
    right: 7%;
    transform: rotate(-15deg);
    text-align: center;
}

.spin {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px;
    background: #1d76e5;
    color: #fff;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    z-index: 1000;
}

.spin:active {
    width: 70px;
    height: 70px;
    font-size: 20px;
}

.mainbox.animate::after {
    animation: animateArrow 0.7s ease infinite;
}

@keyframes animateArrow {
    50% {
        right: -50px;
    }
}

@keyframes spin-wheel {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}